@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin:0;
    padding:0;

font-family:'Poppins', sans-serif;
background:url(https://i.stack.imgur.com/RLQNm.jpg);
background-repeat: no-repeat;
background-size:100vw 200vh;

}
header{
    text-align: center;
    background-color: gray;
    margin: 0 auto;   
}
#title{
    color:#FBCE37;
    margin-top:0;
}
#description{
    margin-top:-20px;
    font-style: italic;
    color:yellowgreen;
}
#survey-form{
    background-color:#FBCE37;
    max-width: 720px;
    margin:0 auto;
    border: 1px solid #FCE59A;
    border-radius: 5px;
    padding:16px;
    box-shadow: 0 20px 20px yellowgreen;
}
.form-field{
    margin-top:1.2em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border: 2px solid yellowgreen;
}

#suggestions{
    margin:0 auto;
    resize: none;
}
legend{
    font-weight: bold;
}

.wrapper{
    display:flex;
    flex-direction: column;
}
.wrapper label{
    font-weight: bold;
    margin-bottom: 5px;
    color:rgba(0,0,0,75%);
}
button{
    padding:8px;
    margin:20px;
    background-color:yellowgreen;
    width:16em;
    text-align:center;
    border: 1px solid yellow;
    border-radius: 50px;
    color: white;
    font-weight:bold;
    font-size: 1.2em;
}
.submit{
    text-align: center;
}